*{
    margin: 0;
    padding: 0;
}
.main {
    width: 100%;
    height: 80vh;
    background-image: url("banner.jpg");
    background-size: cover;
}
nav {
    width: 100%;
    height: 80px;
    background-color: black;
    line-height: 80px;
    opacity: 0.6;
}
nav ul{
    float: right;
    margin-right: 200px;
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    transition: 0.5s all;
}
nav ul li:hover {
    background-color: rgb(39, 39, 39);
    box-sizing: border-box;
    border-radius: 25px;
}
nav ul li a {
    text-decoration: none;
    color: white;
    padding: 30px;
}
nav ul li a:hover{
    color: rgb(255, 255, 255);
}
h2 {
    color: white;
    margin-left: 100px;
}
.one {
    width: 100%;
    height: 75vh;
    background-color: black;
    padding: 50px;
}
.img1 {
    width: 50%;
    float: left;
}
.text1 {
    width: 50%;
    float: left;
    padding-top: 50px;
    padding-left: 50px;
    text-align: justify;
}
h1,p{
    color: white;
}
.one button {
    margin: 0px 50px 0px 50px;
}
.two {
    width: 100%;
    height: 75vh;
    background-color: black;
    padding: 50px;
}
.img2 {
    width: 45%;
    float: right;
    padding-right: 20px;
}
.text2 {
    width: 55%;
    float: left;
    padding-top: 50px;
    text-align: justify;
}
.two button {
    margin: 0px;
}
.three {
    width: 100%;
    height: 75vh;
    background-color: black;
    padding: 50px;
}
.img3 {
    width: 50%;
    float: left;
}
.text3 {
    width: 50%;
    float: left;
    padding-top: 50px;
    padding-left: 50px;
    text-align: justify;
}
.three button {
    margin: 0px 50px 0px 50px;
}
.main1 h1{
    color: black;
    background-color: rgb(255, 255, 255);
    font-size: 70px;
    padding-top: 100px;
    padding-left: 75px;
    padding-bottom: 80px;
}
.main2 {
    width: 100%;
    height: 55vh;
    padding: 50px;
    display: flex;
    background-color: rgb(0, 0, 0);
    justify-content: space-around;
}
.main3 {
    width: 100%;
    height: 40vh;
    padding: 30px 60px;
}
.main3 h1 {
    color: black;
    font-size: 50px;
}
.main3 p{
    color: black;
    font-size: 20px;
}
.card1 {
    width: 33.3%;
    float: left;
    padding-right: 50px;
}
.card2 {
    width: 33.3%;
    float: left;
    padding-left: 60px;
}
.card3 {
    width: 33.3%;
    float: left;
    padding-left: 120px;
}
.btn {
    width: 200px;
    height: 50px;
    margin-left: 30px;
}
.main4 {
    width: 100%;
    height: 40vh;
    padding: 150px;
}
.main4 h1 {
    font-size: 65px;
}
.main4 p {
    font-size: 20px;
}
.main5 {
    width: 100%;
    height: 75vh;
    margin-top: 70px;
    padding: 50px;
    background-color: rgb(0, 0, 0);
}
.vid1 {
    width: 50%;
    float: left;
    padding: 0px 15px 0px 0px;
}
.vid2 {
    width: 50%;
    float: right;
    padding: 0px 0px 0px 15px;
}
.main6 {
    width: 100%;
    height: 53vh;
    padding: 50px 50px 0px 50px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
}
.main7 {
    width: 100%;
    height: 53vh;
    padding: 0px 50px 50px 50px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
}
footer{
    
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 99.1vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 99.1vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}